
<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>One-Time Secret</title>
    <link rel="stylesheet" href="{% static 'one_secrets/style.css' %}">

</head>
<body>
    <div class="app">

        <aside class="sidebar">
            <div class="logo">🔐</div>

            <nav class="menu">
                <button>Профиль</button>

                <button id="show-uuid">Посмотреть секрет</button>

                <button>Общедоступные</button>
            </nav>
        </aside>

        <main class="content">
            <h1>ONE-TIME SECRET</h1>
            <p>
                Безопасно. Одноразово. <br>
                Ты делишься — и он исчезает.
            </p>

            <div class="placeholder">
                тут позже будет форма / текст / магия ✨
            </div>

            <div id="uuid-field" class="secret-card">
                <input type="text" id="uuid-input" placeholder="Введите UUID">
                <button id="get-secret">Получить секрет</button>
                <p id="secret-output"></p>
            </div>
        </main>
    </div>

<script src="{% static 'one_secrets/main.js' %}"></script>
</body>
</html>
