
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>One-Time Secret</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'one_secrets/style.css' %}">

</head>
<body>
    <div class="app">

        <aside class="sidebar">
            <div class="logo">🔐</div>

            <nav class="menu">
                <button>Профиль</button>
                <button>Найти секрет</button>
                <button>Общедоступные</button>
            </nav>
        </aside>

        <main class="content">
            <h1>ONE-TIME SECRET</h1>
            <p>
                Безопасно. Одноразово. <br>
                Ты делишься — и он исчезает.
            </p>

            <div class="placeholder">
                тут позже будет форма / текст / магия ✨
            </div>
        </main>

    </div>
</body>
</html>
